TABLE.wikitable {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BACKGROUND: #f9f9f9; MARGIN: 1em 1em 1em 0px; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.prettytable {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BACKGROUND: #f9f9f9; MARGIN: 1em 1em 1em 0px; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.wikitable TH {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.wikitable TD {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.prettytable TH {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.prettytable TD {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.wikitable TH {
	BACKGROUND: #f2f2f2; TEXT-ALIGN: center
}
TABLE.prettytable TH {
	BACKGROUND: #f2f2f2; TEXT-ALIGN: center
}
TABLE.wikitable CAPTION {
	
}
TABLE.prettytable CAPTION {
	
}
.notice {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 1em; PADDING-TOP: 0.2em; TEXT-ALIGN: justify
}
#disambig {
	BORDER-TOP: #cccccc 3px double; BORDER-BOTTOM: #cccccc 3px double
}
#spoiler {
	BORDER-TOP: #ddd 2px solid; BORDER-BOTTOM: #ddd 2px solid
}
.Talk-Notice {
	BORDER-RIGHT: #c0c090 1px solid; BORDER-TOP: #c0c090 1px solid; MARGIN-BOTTOM: 3px; MARGIN-LEFT: auto; BORDER-LEFT: #c0c090 1px solid; WIDTH: 80%; MARGIN-RIGHT: auto; BORDER-BOTTOM: #c0c090 1px solid; BACKGROUND-COLOR: #f8eaba; border-spacing: 3px
}
.Talk-Notice:unknown {
	content: "The CSS for this template should be changed. See [[Wikipedia:Template Standardisation]]."
}
.Talk-Notice TD {
	
}
TABLE.metadata {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; DISPLAY: none; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; speak: none
}
.metadata-label {
	COLOR: #aaaaaa
}
.allpagesredirect {
	FONT-STYLE: italic
}
.Use_Default_Date_Convention {
	DISPLAY: inline
}
.Use_AD_and_BC {
	DISPLAY: none
}
.Use_BCE_and_CE {
	DISPLAY: none
}
.audiolink A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 16px! important; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/commons/f/f7/Loudspeaker.png) no-repeat left center
}
DIV.listenlist {
	PADDING-LEFT: 40px; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Gnome-speakernotes.png/30px-Gnome-speakernotes.png)
}
DIV.videolist {
	PADDING-LEFT: 50px; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Video.svg/40px-Video.svg.png)
}
DIV.multivideolist {
	PADDING-LEFT: 50px; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/thumb/7/7a/FilmRoll-small.png/40px-FilmRoll-small.png)
}
DIV.medialist {
	BACKGROUND-POSITION: left top; MIN-HEIGHT: 50px; MARGIN: 1em; BACKGROUND-REPEAT: no-repeat
}
DIV.medialist UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px; LIST-STYLE-TYPE: none
}
DIV.medialist UL LI {
	PADDING-BOTTOM: 0.5em
}
DIV.medialist UL LI LI {
	FONT-SIZE: 91%; PADDING-BOTTOM: 0px
}
.plainlinksneverexpand {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.plainlinksneverexpand .urlexpansion {
	DISPLAY: none! important
}
.plainlinksneverexpand A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.plainlinksneverexpand A.text:unknown {
	DISPLAY: none! important
}
.plainlinksneverexpand A.autonumber:unknown {
	DISPLAY: none! important
}
.messagebox {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 0px auto 1em; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 80%; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: justify
}
.merge {
	BORDER-RIGHT: #cf9fff 1px solid; BORDER-TOP: #cf9fff 1px solid; BORDER-LEFT: #cf9fff 1px solid; BORDER-BOTTOM: #cf9fff 1px solid; BACKGROUND-COLOR: #f5edf5; TEXT-ALIGN: center
}
.cleanup {
	BORDER-RIGHT: #9f9fff 1px solid; BORDER-TOP: #9f9fff 1px solid; BORDER-LEFT: #9f9fff 1px solid; BORDER-BOTTOM: #9f9fff 1px solid; BACKGROUND-COLOR: #efefff; TEXT-ALIGN: center
}
.standard-talk {
	BORDER-RIGHT: #c0c090 1px solid; BORDER-TOP: #c0c090 1px solid; BORDER-LEFT: #c0c090 1px solid; BORDER-BOTTOM: #c0c090 1px solid; BACKGROUND-COLOR: #f8eaba
}
.infobox {
	CLEAR: right; BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; FLOAT: right; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0.2em; MARGIN-LEFT: 1em; BORDER-LEFT: #aaaaaa 1px solid; COLOR: black; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.infobox TD {
	VERTICAL-ALIGN: top
}
.infobox TH {
	VERTICAL-ALIGN: top
}
.infobox CAPTION {
	FONT-SIZE: larger
}
.bordered {
	BORDER-COLLAPSE: collapse
}
.bordered TD {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid
}
.bordered TH {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid
}
.bordered .borderless TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.bordered .borderless TH {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.sisterproject {
	FONT-SIZE: 90%; WIDTH: 20em
}
.IPA {
	FONT-FAMILY: Chrysanthi Unicode, Doulos SIL, Gentium, GentiumAlt, Code2000, TITUS Cyberbit Basic, DejaVu Sans, Bitstream Vera Sans, Bitstream Cyberbit, Arial Unicode MS, Lucida Sans Unicode, Hiragino Kaku Gothic Pro, Matrix Unicode
}
.Unicode {
	FONT-FAMILY: TITUS Cyberbit Basic, Code2000, Doulos SIL, Chrysanthi Unicode, Bitstream Cyberbit, Bitstream CyberBase, Bitstream Vera, Thryomanes, Gentium, GentiumAlt, Visual Geez Unicode, Lucida Grande, Arial Unicode MS, Microsoft Sans Serif, Lucida Sans Unicode
}
.polytonic {
	FONT-FAMILY: Athena, Gentium, Palatino Linotype, Arial Unicode MS, Lucida Sans Unicode, Lucida Grande, Code2000
}
#wpSave {
	FONT-WEIGHT: bold
}
.hiddenStructure {
	DISPLAY: none; speak: none
}
.nounderlines A {
	TEXT-DECORATION: none
}
#EnWpMainPage {
	MARGIN-TOP: 1em; WIDTH: 100%
}
#EnWpMainPage H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 130%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#EnWpMpMargin {
	MARGIN-RIGHT: 13.8em
}
#EnWpMpCol1 {
	CLEAR: left; FLOAT: left; WIDTH: 50%
}
#EnWpMpCol2 {
	FLOAT: left; WIDTH: 49.9%
}
#EnWpMpBrowse {
	BORDER-RIGHT: #c7c7c7 1px solid; BORDER-TOP: #c7c7c7 1px solid; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/9/9f/MP-three-books.png) #f8fcff no-repeat 180% 9%; BORDER-LEFT: #c7c7c7 1px solid; BORDER-BOTTOM: #c7c7c7 1px solid
}
#EnWpMpBrowseCats LI {
	FONT-SIZE: 85%; MARGIN-LEFT: 1em; LINE-HEIGHT: 1.5
}
#EnWpMpBrowseCats H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0.2em 0px 0.1em -0.8em; PADDING-TOP: 0px
}
#EnWpMpBrowseCats H3 A {
	FONT-WEIGHT: bold
}
#EnWpMpBook {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/en/7/7e/MP-open-book.png)
}
#EnWpMpFeaturedPic {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; MARGIN: 0px 0px 0.5em; TEXT-ALIGN: center
}
#EnWpMpFeaturedPic H2 {
	FONT-SIZE: 145%; TEXT-ALIGN: left
}
.EnWpMpBrowseRight {
	FLOAT: right; WIDTH: 12.7em
}
.EnWpMpBrowseBottom {
	MARGIN: 1em 0px
}
.EnWpMpBrowseBottom #EnWpMpBrowseCats LI {
	FLOAT: left; MARGIN: 0px; WIDTH: 24%; LINE-HEIGHT: normal
}
.EnWpMpBrowseBottom #EnWpMpUsefulLinks {
	FLOAT: left; MARGIN: 0px; WIDTH: 24%; LINE-HEIGHT: normal
}
.EnWpMpBrowseBottom #EnWpMpFeaturedPic {
	FLOAT: left; MARGIN: 0px; WIDTH: 24%; LINE-HEIGHT: normal
}
.EnWpMpBrowseBottom #EnWpMpBrowseCats H3 {
	MARGIN-LEFT: 0px
}
#EnWpMpUsefulLinks {
	CLEAR: left
}
#EnWpMpSearch {
	BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/a/ae/MP-magnifying-glass.png) no-repeat right top
}
#EnWpMpSearch INPUT {
	VERTICAL-ALIGN: middle
}
#EnWpMpSearchInner {
	FLOAT: right; WIDTH: 20em; TEXT-ALIGN: center
}
#bodySearchMP {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#bodySearchMP .bodySearchWrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0.8em; WIDTH: 17.5em; PADDING-TOP: 0.8em; TEXT-ALIGN: left
}
#bodySearchMP LABEL {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 95%; MARGIN-BOTTOM: -0.2em
}
#bodySearchMP .bodySearchBtnGo {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; MARGIN-LEFT: 0.5em
}
.EnWpMpContentBox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 0.9em; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#EnWpMpCol2 .EnWpMpContentBox {
	MARGIN-LEFT: 0.9em
}
.EnWpMpImage {
	FLOAT: right; MARGIN: 0px 0px 0.2em 0.2em
}
.EnWpMpImage IMG {
	Z-INDEX: 3; POSITION: relative
}
#EnWpMpSisterProjects {
	FLOAT: left; WIDTH: 49%
}
.EnWpMpSisterProject {
	FLOAT: left; MARGIN: 0px; WIDTH: 17em; HEIGHT: 5.5em
}
.EnWpMpSisterImg {
	FLOAT: left; WIDTH: 40px; HEIGHT: 100%
}
#EnWpMpOtherLangs {
	MARGIN-LEFT: 50%
}
#EnWpMainPageNoCSS {
	DISPLAY: none
}
#EnWpMpBook2 {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/en/8/8e/MP-open-book2.png)
}
#EnWpMpSearch2 {
	BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/3/3a/MP-magnifying-glass2.png) no-repeat right top
}
.charboxblack A:link {
	COLOR: black
}
.charboxblack A:hover {
	COLOR: black
}
.charboxblack A:visited {
	COLOR: black
}
.charboxblack A:active {
	COLOR: black
}
.charboxsilver A:link {
	COLOR: silver
}
.charboxsilver A:hover {
	COLOR: silver
}
.charboxsilver A:visited {
	COLOR: silver
}
.charboxsilver A:active {
	COLOR: silver
}
.charboxgray A:link {
	COLOR: gray
}
.charboxgray A:hover {
	COLOR: gray
}
.charboxgray A:visited {
	COLOR: gray
}
.charboxgray A:active {
	COLOR: gray
}
.charboxwhite A:link {
	COLOR: white
}
.charboxwhite A:hover {
	COLOR: white
}
.charboxwhite A:visited {
	COLOR: white
}
.charboxwhite A:active {
	COLOR: white
}
.charboxmaroon A:link {
	COLOR: maroon
}
.charboxmaroon A:hover {
	COLOR: maroon
}
.charboxmaroon A:visited {
	COLOR: maroon
}
.charboxmaroon A:active {
	COLOR: maroon
}
.charboxred A:link {
	COLOR: red
}
.charboxred A:hover {
	COLOR: red
}
.charboxred A:visited {
	COLOR: red
}
.charboxred A:active {
	COLOR: red
}
.charboxpurple A:link {
	COLOR: purple
}
.charboxpurple A:hover {
	COLOR: purple
}
.charboxpurple A:visited {
	COLOR: purple
}
.charboxpurple A:active {
	COLOR: purple
}
.charboxfuchsia A:link {
	COLOR: fuchsia
}
.charboxfuchsia A:hover {
	COLOR: fuchsia
}
.charboxfuchsia A:visited {
	COLOR: fuchsia
}
.charboxfuchsia A:active {
	COLOR: fuchsia
}
.charboxgreen A:link {
	COLOR: green
}
.charboxgreen A:hover {
	COLOR: green
}
.charboxgreen A:visited {
	COLOR: green
}
.charboxgreen A:active {
	COLOR: green
}
.charboxlime A:link {
	COLOR: lime
}
.charboxlime A:hover {
	COLOR: lime
}
.charboxlime A:visited {
	COLOR: lime
}
.charboxlime A:active {
	COLOR: lime
}
.charboxolive A:link {
	COLOR: olive
}
.charboxolive A:hover {
	COLOR: olive
}
.charboxolive A:visited {
	COLOR: olive
}
.charboxolive A:active {
	COLOR: olive
}
.charboxyellow A:link {
	COLOR: yellow
}
.charboxyellow A:hover {
	COLOR: yellow
}
.charboxyellow A:visited {
	COLOR: yellow
}
.charboxyellow A:active {
	COLOR: yellow
}
.charboxnavy A:link {
	COLOR: navy
}
.charboxnavy A:hover {
	COLOR: navy
}
.charboxnavy A:visited {
	COLOR: navy
}
.charboxnavy A:active {
	COLOR: navy
}
.charboxblue A:link {
	COLOR: blue
}
.charboxblue A:hover {
	COLOR: blue
}
.charboxblue A:visited {
	COLOR: blue
}
.charboxblue A:active {
	COLOR: blue
}
.charboxteal A:link {
	COLOR: teal
}
.charboxteal A:hover {
	COLOR: teal
}
.charboxteal A:visited {
	COLOR: teal
}
.charboxteal A:active {
	COLOR: teal
}
.charboxaqua A:link {
	COLOR: aqua
}
.charboxaqua A:hover {
	COLOR: aqua
}
.charboxaqua A:visited {
	COLOR: aqua
}
.charboxaqua A:active {
	COLOR: aqua
}
