BODY {
	FONT-WEIGHT: normal; BACKGROUND: white; FONT-FAMILY: times, serif
}
H1 {
	FONT-WEIGHT: bold; COLOR: maroon; FONT-FAMILY: helvetica, arial, sans-serif
}
H2 {
	FONT-WEIGHT: bold; COLOR: maroon; FONT-FAMILY: helvetica, arial, sans-serif
}
H3 {
	FONT-WEIGHT: bold; COLOR: maroon; FONT-FAMILY: helvetica, arial, sans-serif
}
TH {
	FONT-WEIGHT: bold; COLOR: maroon; FONT-FAMILY: helvetica, arial, sans-serif
}
CAPTION {
	FONT-WEIGHT: bold; COLOR: maroon; FONT-FAMILY: helvetica, arial, sans-serif
}
H1 {
	TEXT-ALIGN: center
}
H4 {
	COLOR: maroon; FONT-FAMILY: palatino, times, serif
}
H5 {
	COLOR: maroon; FONT-FAMILY: palatino, times, serif
}
H6 {
	COLOR: maroon; FONT-FAMILY: palatino, times, serif
}
HR {
	TEXT-INDENT: 0px
}
UL {
	MARGIN-TOP: 0.4em; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.6em; FONT-FAMILY: "arial narrow", arial, sans-serif
}
OL {
	MARGIN-TOP: 0.4em; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.6em; FONT-FAMILY: "arial narrow", arial, sans-serif
}
UL P {
	MARGIN-TOP: 0.4em; FONT-WEIGHT: normal; FONT-SIZE: 85%; MARGIN-BOTTOM: 0.6em; FONT-FAMILY: times, serif
}
OL P {
	MARGIN-TOP: 0.4em; FONT-WEIGHT: normal; FONT-SIZE: 85%; MARGIN-BOTTOM: 0.6em; FONT-FAMILY: times, serif
}
UL.footer {
	FONT-SIZE: 10pt; MARGIN-LEFT: -0.5em; LINE-HEIGHT: 100%; FONT-FAMILY: times, serif
}
UL.footer UL {
	FONT-SIZE: 10pt; MARGIN-LEFT: -0.5em; LINE-HEIGHT: 100%; FONT-FAMILY: times, serif
}
UL.footer UL UL {
	FONT-SIZE: 10pt; MARGIN-LEFT: -0.5em; LINE-HEIGHT: 100%; FONT-FAMILY: times, serif
}
DL {
	FONT-WEIGHT: normal; LINE-HEIGHT: 115%; FONT-FAMILY: times, serif
}
DL DT {
	FONT-WEIGHT: bold
}
DL DD {
	FONT-SIZE: 80%; LINE-HEIGHT: 100%
}
