BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
UL {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
OL {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
DL {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
DD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
DT {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
FONT {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
.PhorumBodyArea {
	FONT-SIZE: 12px; WIDTH: 500px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
.PhorumListTable {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.PhorumListRow {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif; HEIGHT: 21px
}
.PhorumListHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif; HEIGHT: 24px
}
.PhorumForumTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
.PhorumTableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Clean, Helvetica, sans-serif
}
.PhorumNav {
	FONT-SIZE: 10px; FONT-FAMILY: Geneva, Verdana, MS Sans Serif , Clean, sans-serif
}
.PhorumNewFlag {
	FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Geneva, Verdana, MS Sans Serif , Clean, sans-serif
}
.PhorumMessage {
	FONT-SIZE: 12px; FONT-FAMILY: Courier New, Geneva, Courier, Clean
}
