A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #660033; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 10pt; COLOR: #660033; TEXT-DECORATION: none
}
A:hover {
	COLOR: red
}
A.nav {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.notice {
	FONT-SIZE: 8pt; COLOR: #660033; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TD.nav-off {
	BORDER-RIGHT: #ffffcc 1px solid; BORDER-TOP: #ffffcc 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #ffffcc 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffcc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #999966; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TD.nav-on {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #660033; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
TD.title-bar {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #660033; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.rowlabel {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
TD.body {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
TD.header {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #660033; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.notice {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
