BODY {
	BACKGROUND: white; MARGIN: 3% 10%; TEXT-ALIGN: left
}
H1 {
	COLOR: maroon; TEXT-ALIGN: center
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; TEXT-ALIGN: left
}
H2.subsection {
	MARGIN-TOP: 0%; MARGIN-BOTTOM: 0%; COLOR: maroon
}
H3.subsubsection {
	COLOR: maroon; TEXT-ALIGN: left
}
DL {
	TEXT-ALIGN: left
}
PRE {
	TEXT-ALIGN: left
}
A.plain {
	TEXT-DECORATION: none
}
DL.c1 {
	TEXT-ALIGN: left
}
P.c2 {
	MARGIN-LEFT: 10.75%; TEXT-ALIGN: left
}
PRE.c3 {
	FONT-FAMILY: monospace; TEXT-ALIGN: left
}
P.c4 {
	FONT-SIZE: 74%
}
