BODY {
	MARGIN-TOP: 20px; BACKGROUND: #efe7df
}
A:visited {
	COLOR: #400080
}
A:link {
	COLOR: #0055ff
}
A.active {
	COLOR: #0000ff
}
H1 {
	FONT-WEIGHT: bold; BACKGROUND: #efe7df; COLOR: #004000; FONT-FAMILY: 'Gill Sans', sans-serif, Arial; TEXT-ALIGN: left
}
H2 {
	FONT-WEIGHT: bold; BACKGROUND: #efe7df; COLOR: #004000; FONT-FAMILY: 'Gill Sans', sans-serif, Arial; TEXT-ALIGN: left
}
H3 {
	FONT-WEIGHT: bold; BACKGROUND: #efe7df; COLOR: #004000; FONT-FAMILY: 'Gill Sans', sans-serif, Arial; TEXT-ALIGN: left
}
H4 {
	FONT-WEIGHT: bold; BACKGROUND: #efe7df; COLOR: #004000; FONT-FAMILY: 'Gill Sans', sans-serif, Arial; TEXT-ALIGN: left
}
H5 {
	FONT-WEIGHT: bold; BACKGROUND: #efe7df; COLOR: #004000; FONT-FAMILY: 'Gill Sans', sans-serif, Arial; TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 36pt; TEXT-ALIGN: center
}
H2 {
	FONT-SIZE: 24pt
}
H3 {
	FONT-SIZE: 18pt
}
CITE {
	FONT-STYLE: italic; FONT-FAMILY: 'Gill Sans', Arial, sans-serif
}
